<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>2D39D8AB-8FB1-4903-944E-D305E54E9BA4</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>AS3 Artsy Fartsy</string>
	<key>ordering</key>
	<array>
		<string>48BB9354-3C7F-4B68-AED9-1CB5C98931B6</string>
		<string>36FE6282-76D9-47A1-B15A-81DED7EFC135</string>
		<string>86E7C571-87CF-4DBA-8A85-A88DBFC4C719</string>
		<string>0E1C0BFD-9C68-45E1-8055-875A7DBC8D5C</string>
		<string>47D2A09D-8316-4020-A064-FB73939F3C84</string>
		<string>0918B418-19C9-4404-B20D-9B5726628091</string>
		<string>928AF327-F19A-44E1-BD71-08F9AFF0C1E0</string>
		<string>2D39D8AB-8FB1-4903-944E-D305E54E9BA4</string>
		<string>6CFB1025-DDF6-477F-8ADA-1BD441C31D44</string>
		<string>87B3A739-7086-4735-9A8D-69FCC0347248</string>
		<string>22336E5C-F7AD-4310-A5AA-1BBC909CF9BD</string>
	</array>
	<key>uuid</key>
	<string>D0E1C967-55EE-401D-ABE5-94027A862E32</string>
</dict>
</plist>
