<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; draw_class.as &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Draw class</string>
	<key>uuid</key>
	<string>0918B418-19C9-4404-B20D-9B5726628091</string>
</dict>
</plist>
